.profile_card {
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 1em;
    flex: 0 1 24%;
    overflow: hidden;
    width: 11cm;
    height: 12cm;
    
}

  img{
      width: 70%;
      height: 70%;
      border-radius: 40cm;
      margin-left: 1cm;
  }

.profile_name, .profile_dob{
    text-align: center;
}

.profile_dob{
padding-bottom:15px;
}

.container-profilecards{
    background-color: #FFFBF0;
    padding: 1px 600px
}

.profilesection-content{
    background-color: #fffefe
}

button{
    background-color:#FF8A78;
   color: white;
}

.edit-btn{
    background-color:#BBE7F0 ;
    color: #0c0c0c;
   padding: 3px 194px;
}