@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');


.sleep_card {
    background-color: #FCF6D9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: 8em;
    width: 13cm;
    height: 5cm;
    font-family: 'Martel', serif;
    font-size: 18px;
}

.container-sleepcards{
    background-color: #FFFBF0;
    padding: 1px 600px;
    /* display:flex; */
}

.sleepsection-content{
    background-color: #fffefe
}
button.delete-btn{
   background-color:#F2A68D;
   color: #0c0c0c;
   justify-self: center;
   padding: 3px 50px;

}

button.edit-btn{
    background-color:#1FA5A6;
    color: #0c0c0c;
   padding: 3px 50px;
   margin-left: 10px;
   margin-top: 13px;
}