.addeat-btn{
    padding: 30px 50px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 1cm;
    background-color: #E5C6D8;

}

.addactivity-btn{
    padding: 30px 40px;
    margin-left: 500px;
    margin-top: 30px;
    background-color: #F1C6C8;

}

.addsleep-btn{
    padding: 30px 40px;
    margin-left: 500px;
    margin-top: 30px;
    background-color: #88CED3;

}