
.addactivity-btn{
    padding: 30px 40px;
    margin-left: 570px;
    margin-top: 30px;
    background-color: #F1C6C8;
    font-family: 'Abril Fatface', cursive;
    color:black;
    font-size: 18px;

}
.addeat-btn{
    padding: 30px 50px;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 1cm;
    background-color: #E5C6D8;
    font-family: 'Abril Fatface', cursive;
    color:black;
    font-size: 18px;

}


.addsleep-btn{
    padding: 30px 40px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #88CED3;
    font-family: 'Abril Fatface', cursive;
    color:black;
    font-size: 18px;

}

.adddiaper-btn{
    padding: 30px 40px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #FFF1C9;
    font-family: 'Abril Fatface', cursive;
    color:black;
    font-size: 18px;

}