@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');


.eat_card {
    background-color: #DAE0E6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: 3cm;
    width: 13cm;
    height: 5cm;
    font-family: 'Martel', serif;
    font-size: 18px;
  
}



.container-eatcards{
    background-color: #FFFBF0;
    padding: 1px 600px
}

.eatsection-content{
    background-color: #fffefe
}

.delete-btn{
    background-color:#F2A68D;
   color: white;
}

.edit-btn{
    background-color:#2d4e6e ;
    color: #0c0c0c;
   padding: 3px 194px;
}