.activity_card {
    background-color: #fddcdd;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: 3cm;
    width: 13cm;
    height: 5cm;
   
}

.container-activitycards{
    background-color: #FFFBF0;
    padding: 1px 600px
}

.activitysection-content{
    background-color: #fffefe
}

button{
   background-color:#FF8A78;
   color: white;
   justify-self: center;

}

.edit-btn{
    background-color:#BBE7F0 ;
    color: #0c0c0c;
   padding: 3px 194px;
}