@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

.diaper_card {
    background-color: #E0ECE1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: 8em;
    width: 13cm;
    height: 5cm;
    font-family: 'Martel', serif;
    font-size: 18px;
}



.container-diapercards{
    background-color: #FFFBF0;
    /* display:flex; */
    padding: 1px 600px;
}

.diapersection-content{
    background-color: #fffefe
}

.delete-btn{
    background-color:#F2A68D;
   color: white;
}

.edit-btn{
    background-color:#2d4e6e ;
    color: #0c0c0c;
   padding: 3px 194px;
}